*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

/* header */
.header{
    display: flex;
    background-color: #1F2937;
}
.header .dummy{
    flex-basis: 350px;
    flex-shrink: 3;
    
}
.header .container{
    flex-grow: 1;
    display: flex;
    color: white;
    flex-direction: column;
    flex-shrink: 2;
}

/* top   */

.header .top{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    align-items: center;
    margin-bottom: 100px;
}

.header .top .logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    flex: 1;
}

a{
    text-decoration: none;
    color: white;
}

/* bottom  */

.header .bottom{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 100px;
}

.header .bottom .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    flex:0 1 500px;
}

.header .bottom .left h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header .bottom .left p,
a,

.header .bottom .right{
    font-size: 18px;
    color: #E5E7EB;
}

.header .bottom .right{
    background-color: gray;
    flex-basis: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header button{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 10px;
    border-style: none;
    background-color:#3882F6;
}


/* info  */

.info{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    text-align: center;
    gap: 40px;
    margin: 50px 0px;
}
.info h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info p{
    color: gray;
}
.info .container{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    
}

.info .item{
    width: 185px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info .item .img{
    height: 175px;
    width: 175px;
    border: solid 5px #3882F6;
    border-radius: 10px;
}

/* quote  */

.quote{
    display: flex;
    background-color: lightgray;
    justify-content: center;
}

.quote .container{
    flex-basis: 810px;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin: 100px 0px;
    align-items: center;
}

.quote .author{
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
    font-size: 26px;
    font-style: normal;
}


/* sign-up  */

.signup{
    display: flex;
    justify-content: center;
    color: rgb(227, 225, 225);
    padding: 100px 0px;
}

.signup .container{
    background-color: #3882F6;
    display: flex;
    flex-basis: 950px;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    padding: 40px 0px;
}

.container h3{
    color: white;
    font-size: 26px;
}

.signup button{
    border-style: none;
    background-color: #3882F6;
    border-color: white;
    color: white;
    padding: 5px 25px;
    border: white solid 2px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;

}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 40px 0px;
}